*{
    margin: 0;
    padding: 0 ;
}
body{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #000;
    /* background-color: blue; */
    font-size: 1rem;
    line-height: 1.5rem;

}
.mainbox{
    box-sizing: border-box;
    display: block;
    background-color: rgb(245, 245, 245);
}
.container {
    position: relative;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-left: 15px;
    /* background: green; */
    padding-right: 15px;
    max-width: 100% !important;
    width: 100%;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    /* height: 100vh; */
    justify-content: center!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
    justify-content: center!important;
}
.column{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
    
    text-align: center!important;
}

.content{
    display: flex!important;
    justify-content: center!important;
    width: 100%!important;
    max-width: 100%!important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: orange; */
    box-sizing: border-box;

}
.login-box{
    width: 446px!important;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
    margin-top: 40px;
    box-sizing: border-box;
    text-align: center!important;
    display: block;
}
.box-body{
    text-align: center!important;
    display: block;
    box-sizing: border-box;

}

.login-heading{
    padding: 32px;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 600;
    box-sizing: border-box;
    text-align: center!important;
    display: block;

}
.option-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    text-align: center!important;
    display: block;
    width: 100%;
    max-width: 540px;
}
.rows{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
   

}
.option-container-CommonProps{
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    text-align: center!important;
}
.cols{
    border: 1px solid #f3f4f7;
    box-sizing: border-box;
    border-radius: 8px;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    padding: 20px;
    cursor: pointer;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-align: center!important;
    display: block;
}
.d-flex{
    display: flex;
    box-sizing: border-box;
    /* display: block; */
    cursor: pointer;
    text-align: center!important;
}
.logo-metamask{
    border-radius: 50%;
    align-self: center!important;
    display: flex!important;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    text-align: center!important;
}
.opt-image{
    width: 56px;
    height: 56px;
    align-self: center!important;
    border-style: none;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center!important;
}
.details{
    padding-left: 20px;
    text-align: left!important;
    align-self: center!important;
    display: flex!important;
    flex-direction: column!important;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    /* text-align: center!important; */
}
.name{
    font-weight: 600;
    box-sizing: border-box;
    text-align: left!important;
    cursor: pointer;
    text-align: center!important;
}
.name-details{
    color: #6e798f;
    font-size: .875rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    text-align: left!important;
    cursor: pointer;
}
.fa-angle-right{
    height: 16px;
    width: 16px;    margin-left: auto!important;
    align-self: center!important;
    overflow: hidden;    
    vertical-align: middle;    
    box-sizing: border-box;cursor: pointer;    
    text-align: center!important;
}
.downloadhere{
    border-top: 1px solid #e7e9ee;
    padding: 32px 10px;
    color: #9fa8ba;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-top: 32px;
    justify-content: center!important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
    text-align: center!important;
    
}
.download-link{
    padding-left: 2px;
    text-decoration: none;
    box-sizing: border-box;
    /* border-top: 1px solid #e7e9ee;
    padding: 32px 10px; */
    /* color: #9fa8ba; */
    /* font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500; */
}

a{
    color: #003cb2;
    background-color: transparent;
    text-decoration: none;
}



.center,.content1,.content2,.content3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* .content{
    display: none;
} */
#click{
    display: none;
}

.click-me{
    display: block;
    width: 376px ;
    height: 94px ;
    /* background: greenyellow; */
    /* border: 2px solid green; */
    color: white;
    text-align: center ;
    font-size: 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: -116px;
}


#click2{
    display: none;
}


.click-me2{
    display: block;
    width: 376px;
    height: 92px;
    margin-bottom: -60px;
    /* margin-left: 0px; */
    /* background: green; */
    /* border: 2px solid green; */
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
}

#click3{
    display: none;
}


.click-me3{
    display: block;
    width: 376px;
    height: 92px;
    margin: auto;
    margin-top: 84px;
    margin-bottom: -334px;
    /* margin-left: 0px; */
    /* background: orange; */
    /* border: 2px solid green; */
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
}





.content1{
    opacity: 0;
    visibility: hidden;
    width: 393px ;
    height: 453px ;
    background: white;
    border-radius: 20px;
    /* border: 2px solid black; */
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}

.content2{
    opacity: 0;
    visibility: hidden;
    width: 393px;
    height: 453px;
    background: white;
    border-radius: 20px;
    /* border: 2px solid black; */
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}

.content3{
    opacity: 0;
    visibility: hidden;
    width: 393px;
    height: 453px;
    background: white;
    border-radius: 20px;
    /* border: 2px solid black; */
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}


#click:checked ~ .content1{
    opacity: 1;
    visibility: visible;
}

#click2:checked ~ .content2{
    opacity: 1;
    visibility: visible;
}

#click3:checked ~ .content3{
    opacity: 1;
    visibility: visible;
}

.header{
    margin: -1px;
    height: 61px;
    text-align: center;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid silver;
    /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2); */
}

.header h2{
    padding-left: 6px;
    font-weight: lighter;
    font-size: 16px;
    margin: 25px;
}

.fa-times{
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    font-size: 20px;
}

.logo-metamask1{
    margin: 36px 153px;
}

#svg1{
    width: 90px;
    height: 98px;
}


p{
    padding-top: 10px;
    font-size: 13px;
    text-align: center;
}

.line{
    bottom: 60px;
    width:100%;
    height: 1px;
    background: silver;
}

/* a{
    text-decoration: none;
} */

#down{
    margin: 84px 10px;
    padding: 14px;
}